body {
    font-family: 'Anton', sans-serif;
    background-image: url('https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: green;
}

p {
    margin-left: 200px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}